.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			box-shadow: 0 0 5px #000;
		}
		&:checked + .checkbox__label:before {
			background: #fff url("@img/icons/check.svg") center center no-repeat;
		}
	}
	// .checkbox__label
	&__label {
		display: flex;
		align-items: center;
		transition: 0.2s;
		line-height: math.div(26, 18);
		font-size: rem(18);
		cursor: pointer;

		&::before {
			content: "";
			display: inline-block;
			margin-right: rem(16);
			flex: 0 0 rem(24);
			height: rem(24);
			outline: 1.5px solid $gray;
			border: 1.5px solid #fff;
			border-radius: 4px;
			background-color: #fff;
		}
	}
	// .checkbox__text
	&__text {
	}
}
