//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	height: rem(58);
	display: block;
	padding: 0px 24px;
	border: 1px solid rgba(23, 23, 23, 0.3);
	border-radius: 16px;
	@include adaptiveValue("font-size", 20, 16);

	&._focus {
	}
	&._error {
		border-color: red;
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
